
.text-center {
	text-align: center;
}
.sub-heading{
	color: #B64A1A;
}
.gallery-page{
	display: table;
	text-align: center;
}
.gallery-btn{
	display: table-cell;
	vertical-align: bottom;
	background-color: #B64A1A;
	color: white;
}