<div class="about">
    <p class="title">About</p>
    <div class="container">
        <p>The Midgardsormr group portrays Viking fighters from both 9th C Denmark and Norway.</p>
        <p>We aim to show Vikings skilled in combat that would be prepared for expedition. The goal is to represent fighting skills as authentically as possible, using shared knowledge, research, experience and experimentation, to try and recreate this combat
            effectively.
        </p>
        <p>
            Within our group we have a swordsmith, individual traditional crafters in such things as tablet weave and clothing fabrication, as well as a strong spirit of teaching others how to learn such crafts themselves, so that the group is always learning new
            skills. As a family group, we have a variety of members, who all participate in the living history aspect of Viking life. </p>
        <p>We also like to share knowledge of the Viking period through our school visits, shows and show participation and our online presence.</p>
    </div>
</div>